[Unit]
Description=Disable Wallpaper Engine on power saver

[Service]
ExecStart=%h/.local/bin/wallpaperengine-power-profile
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
