* {
    font-family: 'CaskaydiaCove Nerd Font';
    font-size: 13px;
    color: white;
}

window {
    background: none;
    border-bottom: none;
}

#workspaces button {
    background-color: #5f676a;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #285577;
}

#workspaces button.urgent {
    background-color: #900000;
}

#workspaces button.active {
    background-color: #285577;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#window,
#workspaces {
    margin: 0 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}


.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

.modules-right {
    border: 2px inset rgba(90, 34, 139, 0.5);
    border-radius: 30% 0 0 30%;
    background: rgba(90, 34, 139, 0.4);
    border-bottom: none;
    border-top: none;
    border-right: none;
    padding-left: 10px;
}

.modules-left {
    border: 2px inset rgba(90, 34, 139, 0.5);
    border-radius: 0 30% 30% 0;
    background: rgba(90, 34, 139, 0.4);
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding-right: 25px;
}

.modules-center {
    border: 2px inset rgba(90, 34, 139, 0.5);
    border-radius: 0 0 30% 30%;
    background: rgba(90, 34, 139, 0.4);
    padding: 0px;
    border-top: none;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    padding: 5px;
}

#idle_inhibitor.activated {
    background-color: #285577;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}
