layout {

    focus-ring {
        active-color   "#e49067"
        inactive-color "#291b14"
        urgent-color   "#754726"
    }

    border {
        active-color   "#e49067"
        inactive-color "#291b14"
        urgent-color   "#754726"
    }

    shadow {
        color "#291b1470"
    }

    tab-indicator {
        active-color   "#e49067"
        inactive-color "#8d360c"
        urgent-color   "#754726"
    }

    insert-hint {
        color "#e4906780"
    }
}

recent-windows {
    highlight {
        active-color "#e49067"
        urgent-color "#754726"
    }
}
