layout {

    focus-ring {
        active-color   "#67a5e4"
        inactive-color "#0f1e2e"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67a5e4"
        inactive-color "#0f1e2e"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#0f1e2e70"
    }

    tab-indicator {
        active-color   "#67a5e4"
        inactive-color "#0c4c8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67a5e480"
    }
}

recent-windows {
    highlight {
        active-color "#67a5e4"
        urgent-color "#fd4663"
    }
}
