layout {

    focus-ring {
        active-color   "#e4677c"
        inactive-color "#291418"
        urgent-color   "#c4233e"
    }

    border {
        active-color   "#e4677c"
        inactive-color "#291418"
        urgent-color   "#c4233e"
    }

    shadow {
        color "#29141870"
    }

    tab-indicator {
        active-color   "#e4677c"
        inactive-color "#8d0c21"
        urgent-color   "#c4233e"
    }

    insert-hint {
        color "#e4677c80"
    }
}

recent-windows {
    highlight {
        active-color "#e4677c"
        urgent-color "#c4233e"
    }
}
